<div class="card tile is-vertical is-child is-4">
    <div class="card-image">
        <figure class="image is-256x256">
            <img src="{{ image }}" alt="{{ product_name }}">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 is-marginless">{{ product_name }}</p>
                <p class="subtitle is-6 is-marginless"><span class="product-price">{{ price }}</span></p>
                <p class="subtitle is-6"><span class="release-date">Release date: <b>{{ release_date }}</b></span></p>
            </div>
        </div>
        <div class="content">
            <p class="is-marginless available">Available at:</p>
            <a class ="website">website</a> | <a class ="website">website</a> | <a class ="website">website</a>
        </div>
    </div>
</div>
